{% extends "modal.jinja" %}
{% block modal %}
    <div>
        <style>
            me { text-align: center; font-size: 1.25rem; }
            h4 { margin-bottom: 0.5rem; }
        </style>
        <h4>Current Image</h4>
        <p>{{ current }}</p>
        <br>
        <h4>Next Image</h4>
        <p>{{ next }}</p>
    </div>
{% endblock %}
