{% extends "modal.jinja" %}
{% block modal %}
    <div>
        <style>
            me {
                display: flex;
                flex-direction: column;
                gap: 1rem;
            }
        </style>
        {% if frame is none %}
            <p>No frames registered</p>
        {% else %}
            <p>
                <strong>Frame:</strong> {{ frame.name }}
            </h1>
            <p>
                <strong>Current:</strong> {{ frame.current }}
            </p>
            <p>
                <strong>Next:</strong> {{ frame.next }}
            </p>
        {% endif %}
    </div>
{% endblock %}
