{% extends "modal.jinja" %}
{% block modal %}
<div class="flex flex-col text-center items-center justify-center gap-4">
    <img class="size-96 object-contain" src="{{ image.src }}" alt="{{ image.title }}">
    <div>
        <p class="font-medium text-lg text-black dark:text-white">{{ image.title }}</p>
        <p class="font-light text-zinc-500">{{ image.artist }}</p>
    </div>
</div>
{% endblock %}
