{% extends "modal.jinja" %}
{% block modal %}
    <form hx-post="/" enctype="multipart/form-data" hx-indicator="#spinner">
        <style>
            me { 
                display: flex;
                flex-direction: column;
                gap: 1rem;
            }
        </style>
        <!-- Image Upload Button -->
        <div class="btn">
            <style>me input { display: none; visibility: hidden; }</style>
            Select Image
            <input type="file" name="image" accept="image/*" />
            <script>
                me().on("click", ev => me("input").click());

                // Set preview image, hide button, and show rest of form
                me("input").on("change", ev => {
                    const file = ev.target.files[0];
                    if (file) {
                        me("#preview").src = URL.createObjectURL(file);
                        me("#details-form").styles({ "display": "flex" });
                        me(ev).parentElement.styles({ "display": "none" });
                    }
                });
            </script>
        </div>
        <!-- Details Form -->
        <div id="details-form">
            <style>
                me {
                    display: none; /* switches to flex on show */
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;
                    gap: 2rem;
                }

                me img {
                    height: 20rem;
                    width: 100%;
                    object-fit: contain;
                }
            </style>
            <img id="preview">
            <div>
                <style>
                    me {
                        display: flex;
                        flex-direction: column;
                        gap: 1rem;
                    }

                    me input[type="text"] {
                    }
                </style>
                <label>
                    Title
                    <input type="text" name="title" required />
                </label>
                <label>
                    Artist
                    <input type="text" name="artist" />
                </label>
                <label>
                    Use dark background
                    <input type="checkbox" value="on" name="dark" />
                </label>
            </div>
            <button class="btn" type="submit">Upload</button>
            <div id="spinner"></div>
            <!-- TODO: Add loading indicator using hx-indicator -->
        </div>
    </form>
{% endblock %}
