{% extends "base.jinja" %}
{% block body %}
    <div>
        <style>
            me {
                display: flex;
                flex-direction: column;
                gap: 0.5rem;
                text-align: center;
            }

            me p {
                letter-spacing: 0.1em;
                font-size: 1.5rem;
                color: var(--gray-300);
            }

            @media dark { me h1 { color: var(--gray-300) } }

            me a {
                margin-top: 2rem;
                text-decoration: underline dotted;
            }

            me a:hover { hover: decoration-solid; }
        </style>
        <p>404</p>
        <h1 class="title">Page not found</p>
        <a href="/">Back to Home</a>
    </div>
{% endblock %}
