{% extends "layout.jinja" %}
{% block body %}
<div class="flex flex-col gap-2 text-center">
    <h1 class="tracking-wider font-medium">404</h1>
    <p class="text-2xl font-thin tracking-[0.3rem] uppercase">Page not found</p>
    <a class="mt-8 underline decoration-dotted hover:decoration-solid" href="/">Back to Home</a>
</div>
{% endblock %}
