<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="color-scheme" content="light dark">
        <title>Gallery | Inkarta</title>
        <link rel="stylesheet"
              href="https://cdn.jsdelivr.net/npm/@picocss/pico@2/css/pico.min.css">
        <script src="https://cdn.jsdelivr.net/npm/htmx.org@2.0.6/dist/htmx.min.js"></script>
    </head>
    <body class="container" style="margin-top: 2rem;">
        <nav>
            <ul>
                <li>
                    <h1>Gallery</h1>
                </li>
            </ul>
            <ul>
                <li>
                    <button hx-get="/ui/upload" hx-target="body" hx-swap="beforeend">Upload</button>
                </li>
            </ul>
        </nav>
        <article>
            <strong>Current Image:</strong>
            {{ .CurrentTitle }}
            <br>
            <strong>Next Image:</strong>
            {{ .NextTitle }}
        </article>
        <main>
            <table>
                <thead>
                    <tr>
                        <th>Title</th>
                        <th>Artist</th>
                    </tr>
                </thead>
                <tbody>
                    {{ range .Images }}
                        <tr>
                            <td>
                                <a href=""
                                   hx-get="/ui/view/{{ .ID }}"
                                   hx-target="body"
                                   hx-swap="beforeend">{{ .Title }}</a>
                            </td>
                            <td>{{ .Artist }}</td>
                        </tr>
                    {{ end }}
                </tbody>
            </table>
        </main>
        <script>
            function closeDialog() {
                document.querySelector("dialog").remove();
            }
        </script>
    </body>
</html>
