<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta name="color-scheme" content="light dark" />
        <title>
            {% block title %}{% endblock %}
        </title>
        <script defer
                src="https://cdn.jsdelivr.net/npm/@imacrayon/alpine-ajax@0.7.0/dist/cdn.min.js"></script>
        <script defer
                src="https://cdn.jsdelivr.net/npm/alpinejs@3.11.1/dist/cdn.min.js"></script>
        {% if debug %}<script src="https://cdn.tailwindcss.com"></script>{% endif %}
    </head>
    <body class="p-4 md:p-8 mx-auto font-sans bg-white dark:bg-zinc-950 max-w-7xl">
        {% block body %}{% endblock %}
    </body>
</html>
