<div id="modal" x-ref="modal">
    <button class="absolute top-4 right-4 bg-zinc-100 dark:bg-zinc-700 bg-opacity-90 rounded-full p-2"
            @click="modal = false">
        <svg xmlns="http://www.w3.org/2000/svg"
             fill="none"
             viewBox="0 0 24 24"
             stroke-width="1.5"
             stroke="currentColor"
             class="size-6">
            <path stroke-linecap="round" stroke-linejoin="round" d="M6 18 18 6M6 6l12 12" />
        </svg>
    </button>
    {% block modal %}{% endblock %}
</div>
