<dialog open>
    <article>
        <header>
            <button aria-label="Close" rel="prev">
                <script>
                    me().on("click", ev => me("dialog").remove());
                </script>
            </button>
            <strong>Upload Image</strong>
        </header>

        <form
            hx-post="/image"
            enctype="multipart/form-data"
            hx-on::before-request="disableForm(event.target)"
        >
            <label>
                Image
                <input type="file" name="image" accept="image/*" required />
            </label>

            <label>
                Title
                <input type="text" name="title" required />
            </label>

            <label>
                Artist
                <input type="text" name="artist" />
            </label>

            <label>
                <input type="checkbox" value="on" name="dark" />
                Use dark background
            </label>

            <br />

            <button type="submit">Upload</button>

            <script>
                function disableForm(form) {
                    form.querySelectorAll("input, button").forEach(input => {
                        input.disabled = true;
                    });

                    const button = form.querySelector("button");
                    button.innerText = "Uploading...";
                    button.setAttribute("aria-busy", "true");
                }
            </script>
        </form>
    </article>
</dialog>
