<dialog open>
    <article>
        <header>
            <button aria-label="Close" rel="prev">
                <script>
                    me().on("click", ev => me("dialog").remove());
                </script>
            </button>
            <strong>{{.Image.Title}}</strong>
        </header>
        <p>meow</p>
        <footer>
            <!-- prettier-ignore -->
            {{if eq .Next .Image.ID}}
            <button class="outline" disabled>Selected</button>
            {{else}}
            <button hx-put="/image/next/{{.Image.ID}}">Select</button>
            {{end}}
            <button class="secondary" hx-delete="/image/{{.Image.ID}}">
                Delete
            </button>
        </footer>
    </article>
</dialog>
