{% extends "base.jinja" %}
{% block body %}
    <div>
        <style>
            me {
                display: flex;
                flex-direction: column;
                gap: 0.5rem;
                text-align: center;
            }

            me p {
                letter-spacing: 0.1em;
                font-size: 1.25rem;
                color: var(--gray-400);
                @media dark { & { color: var(--gray-500) } }
            }

            me a {
                margin-top: 2rem;
                text-decoration: none;
                &:hover { text-decoration: underline; }
            }

        </style>
        <p>404</p>
        <h1 class="title">Page not found</h1>
        <a href="/">Back to Home</a>
    </div>
{% endblock %}
