<div id="modal">
    <style>
        me {
            position: fixed;
            top: 0;
            left: 0;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            width: 100%;
            height: 100%;
            background-color: white;
        }
        @media dark { me { background-color: var(--gray-800); } }

        me .close-btn {
            all: unset;
            position: absolute;
            top: 1rem;
            right: 1rem;
            background-color: var(--gray-100);
            background-opacity: 0.9;
            border-radius: 50%;
            padding: 0.5rem;
            cursor: pointer;
        }
        @media dark { me .close-btn { background-color: var(--gray-700); } }

        me .close-btn svg { width: 1.5rem; height: 1.5rem; }
    </style>
    <button class="close-btn">
        <svg xmlns="http://www.w3.org/2000/svg"
             fill="none"
             viewBox="0 0 24 24"
             stroke-width="1.5"
             stroke="currentColor">
            <path stroke-linecap="round" stroke-linejoin="round" d="M6 18 18 6M6 6l12 12" />
        </svg>
    </button>
    {% block modal %}{% endblock %}
    <script>me(".close-btn").on("click", ev => me("#modal").remove());</script>
</div>
